.card_container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff; 
  margin-bottom: 20px;
  text-align: center;
}

.card_container p {
  font-size: 18px;
  color: #fff; 
  text-align: center;
  margin-top: 50px;
}
.card_container h2:hover{
  color: #ff6b6b;
}
.card_container p:hover{
  color: #ff6b6b;
}